@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Students Portal</h1>
    <p>Learn about <a href="https://www.google.co.uk/">visit Google</a>.</p>
</div>
